In [3]:
# Dependencies and Setup
import pandas as pd
pd.set_option('display.max_columns', 50)

# File to Load (Remember to Change These)
school_data_to_load = R"C:\Users\hayde\Col_Class\colnyc201907data3\Homework\04-Pandas\Instructions\PyCitySchools\Resources\schools_complete.csv"
student_data_to_load = R"C:\Users\hayde\Col_Class\colnyc201907data3\Homework\04-Pandas\Instructions\PyCitySchools\Resources\students_complete.csv"

In [4]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
sdc = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [260]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [261]:
pd.DataFrame(sdc)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [234]:
# High Level SnapShot Data
stats = sdc.describe([.70])
total_students = stats.iloc[ 0, 0]
total_budget = stats.iloc[0,5]

average_math_score = stats.iloc[1,2]
average_reading_score = stats.iloc[1,1]

percent_passing_math = stats.iloc[5,2]
percent_passing_reading = stats.iloc[5,1]
overall_passing_rate = (percent_passing_reading + percent_passing_math) / 2

total_school_number =  len(school_data)


#print(student_count)
print(stats)
#print(stats['reading_score'])

         Student ID  reading_score    math_score     School ID          size  \
count  39170.000000    39170.00000  39170.000000  39170.000000  39170.000000
mean   19584.500000       81.87784     78.985371      6.978172   3332.957110
std    11307.549359       10.23958     12.309968      4.444329   1323.914069
min        0.000000       63.00000     55.000000      0.000000    427.000000
50%    19584.500000       82.00000     79.000000      7.000000   2949.000000
70%    27418.300000       89.00000     87.000000     11.000000   4635.000000
max    39169.000000       99.00000     99.000000     14.000000   4976.000000

             budget
count  3.917000e+04
mean   2.117241e+06
std    8.749987e+05
min    2.480870e+05
50%    1.910635e+06
70%    3.022020e+06
max    3.124928e+06

In [235]:
High_level_snapshot = {
    'Total Schools' : [total_school_number],
    'Total Students' : [total_students],
    'Total Budget' : [total_budget],
    'Average Math Score' : [average_math_score],
    'Average Reading Score' : [average_reading_score],
    '% Passing Math' : [percent_passing_math],
    '% Passing Reading' : [percent_passing_math],
    'Overall Passing Rate' : [overall_passing_rate]
}
High_level_snapshot_df = pd.DataFrame(High_level_snapshot)
High_level_snapshot_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170.0,39170.0,78.985371,81.87784,87.0,87.0,88.0

In [7]:
#School Summary
grouped_school = sdc.groupby('school_name', sort=False)

#means
school_means = grouped_school.mean()
school_means_final = pd.merge(school_means['reading_score'], school_means['math_score'],right_index = True, left_index=True)

#adding means
school_data = pd.merge(school_data, school_means_final, on='school_name', right_index = True, left_index=False)

#per student budget
school_data['budget_per_student']= school_data['budget']/school_data['size']


#% Passing Rates
schools_stats = grouped_school.describe(percentiles=[.70])
schools_reading = schools_stats['reading_score']
schools_math = schools_stats['math_score']
schools_reading_passing_rate = schools_reading['70%']
schools_math_passing_rate = schools_math['70%']

#adding percentage passing rates
school_data_all = pd.merge(school_data, schools_reading_passing_rate, on='school_name' ,right_index = True, left_index=False)
school_data_all = pd.merge(school_data_all, schools_math_passing_rate, on='school_name' ,right_index = True, left_index=False)


#rename columns
school_data_all = school_data_all.rename(columns={'70%_x' : '% Passing Reading', '70%_y' : '% Passing Math'})

#overall Passing Rates
S_overall_passing_rate = (school_data_all['% Passing Reading'] + school_data_all['% Passing Math'])/2
S_overall_passing_rate = pd.DataFrame(S_overall_passing_rate)
school_data_all = pd.merge(school_data_all, S_overall_passing_rate,right_index = True, left_index=True)

#rename again (oop)
school_data_all = school_data_all.rename(columns={0 : 'Overall Passing Rate'})

In [8]:
school_data_all

,School ID,school_name,type,size,budget,reading_score,math_score,budget_per_student,% Passing Reading,% Passing Math,Overall Passing Rate
0,0,Huang High School,District,2917,1910635,81.182722,76.629414,655.0,89.0,85.0,87.00
1,1,Figueroa High School,District,2949,1884411,81.158020,76.711767,639.0,88.0,86.0,87.00
2,2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,600.0,90.0,90.0,90.00
3,3,Hernandez High School,District,4635,3022020,80.934412,77.289752,652.0,89.0,87.0,88.00
4,4,Griffin High School,Charter,1468,917500,83.816757,83.351499,625.0,90.0,89.9,89.95
5,5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,578.0,90.0,90.0,90.00
6,6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,582.0,90.0,90.0,90.00
7,7,Bailey High School,District,4976,3124928,81.033963,77.048432,628.0,88.0,86.0,87.00
8,8,Holden High School,Charter,427,248087,83.814988,83.803279,581.0,91.0,90.0,90.50
9,9,Pena High School,Charter,962,585858,84.044699,83.839917,609.0,90.0,90.0,90.00
10,10,Wright High School,Charter,1800,1049400,83.955000,83.682222,583.0,90.0,90.0,90.00
11,11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,637.0,88.0,86.0,87.00
12,12,Johnson High School,District,4761,3094650,80.966394,77.072464,650.0,88.0,86.0,87.00
13,13,Ford High School,District,2739,1763916,80.746258,77.102592,644.0,88.0,86.0,87.00
14,14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,638.0,90.0,90.0,90.00

In [276]:
best_schools = school_data_all.sort_values('Overall Passing Rate', ascending=False)
best_schools.head(5)

,School ID,school_name,type,size,budget,budget_per_student,reading_score,math_score,% Passing Reading,% Passing Math,Overall Passing Rate
8,8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,91.0,90.0,90.5
2,2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,90.0,90.0,90.0
5,5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,90.0,90.0,90.0
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,90.0,90.0,90.0
9,9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,90.0,90.0,90.0

In [277]:
worst_schools = school_data_all.sort_values('Overall Passing Rate', ascending=True)
worst_schools.head(5)

,School ID,school_name,type,size,budget,budget_per_student,reading_score,math_score,% Passing Reading,% Passing Math,Overall Passing Rate
0,0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,89.0,85.0,87.0
1,1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,88.0,86.0,87.0
7,7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,88.0,86.0,87.0
11,11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,88.0,86.0,87.0
12,12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,88.0,86.0,87.0

In [25]:
#Data by grade
data_by_grade = sdc.groupby(['school_name','grade'])
avg_by_grade = data_by_grade.mean()
avg_by_grade.iloc[:,[1,2]]

                             reading_score  math_score
school_name           grade
Bailey High School    10th       80.907183   76.996772
                      11th       80.945643   77.515588
                      12th       80.912451   76.492218
                      9th        81.303155   77.083676
Cabrera High School   10th       84.253219   83.154506
                      11th       83.788382   82.765560
                      12th       84.287958   83.277487
                      9th        83.676136   83.094697
Figueroa High School  10th       81.408912   76.539974
                      11th       80.640339   76.884344
                      12th       81.384863   77.151369
                      9th        81.198598   76.403037
Ford High School      10th       81.262712   77.672316
                      11th       80.403642   76.918058
                      12th       80.662338   76.179963
                      9th        80.632653   77.361345
Griffin High School   10th       83.706897   84.229064
                      11th       84.288089   83.842105
                      12th       84.013699   83.356164
                      9th        83.369193   82.044010
Hernandez High School 10th       80.660147   77.337408
                      11th       81.396140   77.136029
                      12th       80.857143   77.186567
                      9th        80.866860   77.438495
Holden High School    10th       83.324561   83.429825
                      11th       83.815534   85.000000
                      12th       84.698795   82.855422
                      9th        83.677165   83.787402
Huang High School     10th       81.512386   75.908735
                      11th       81.417476   76.446602
                      12th       80.305983   77.225641
                      9th        81.290284   77.027251
Johnson High School   10th       80.773431   76.691117
                      11th       80.616027   77.491653
                      12th       81.227564   76.863248
                      9th        81.260714   77.187857
Pena High School      10th       83.612000   83.372000
                      11th       84.335938   84.328125
                      12th       84.591160   84.121547
                      9th        83.807273   83.625455
Rodriguez High School 10th       80.629808   76.612500
                      11th       80.864811   76.395626
                      12th       80.376426   77.690748
                      9th        80.993127   76.859966
Shelton High School   10th       83.441964   82.917411
                      11th       84.373786   83.383495
                      12th       82.781671   83.778976
                      9th        84.122642   83.420755
Thomas High School    10th       84.254157   83.087886
                      11th       83.585542   83.498795
                      12th       83.831361   83.497041
                      9th        83.728850   83.590022
Wilson High School    10th       84.021452   83.724422
                      11th       83.764608   83.195326
                      12th       84.317673   83.035794
                      9th        83.939778   83.085578
Wright High School    10th       83.812757   84.010288
                      11th       84.156322   83.836782
                      12th       84.073171   83.644986
                      9th        83.833333   83.264706

In [32]:
#data by $ per student
bins = [0,597.25,616.5,635.75,700]
labels = ['poor','medium-low','medium-high','high']
school_data_all['binned_by_$'] = pd.cut(school_data_all['budget_per_student'], bins = bins, labels = labels )

school_data_all.iloc[:,[1,2,5,6,8,9,11]]

,school_name,type,reading_score,math_score,% Passing Reading,% Passing Math,binned_by_$
0,Huang High School,District,81.182722,76.629414,89.0,85.0,high
1,Figueroa High School,District,81.158020,76.711767,88.0,86.0,high
2,Shelton High School,Charter,83.725724,83.359455,90.0,90.0,medium-low
3,Hernandez High School,District,80.934412,77.289752,89.0,87.0,high
4,Griffin High School,Charter,83.816757,83.351499,90.0,89.9,medium-high
5,Wilson High School,Charter,83.989488,83.274201,90.0,90.0,poor
6,Cabrera High School,Charter,83.975780,83.061895,90.0,90.0,poor
7,Bailey High School,District,81.033963,77.048432,88.0,86.0,medium-high
8,Holden High School,Charter,83.814988,83.803279,91.0,90.0,poor
9,Pena High School,Charter,84.044699,83.839917,90.0,90.0,medium-low
10,Wright High School,Charter,83.955000,83.682222,90.0,90.0,poor
11,Rodriguez High School,District,80.744686,76.842711,88.0,86.0,high
12,Johnson High School,District,80.966394,77.072464,88.0,86.0,high
13,Ford High School,District,80.746258,77.102592,88.0,86.0,high
14,Thomas High School,Charter,83.848930,83.418349,90.0,90.0,high

In [36]:
bins = [0,500,1500,3000,5000]
labels = ['very small','small', 'medium', 'large']
school_data_all['Binned_by_school_size'] = pd.cut(school_data_all['size'], bins = bins, labels = labels)
school_data_all.iloc[:,[1,5,6,8,9,12]]

,school_name,reading_score,math_score,% Passing Reading,% Passing Math,Binned_by_school_size
0,Huang High School,81.182722,76.629414,89.0,85.0,medium
1,Figueroa High School,81.158020,76.711767,88.0,86.0,medium
2,Shelton High School,83.725724,83.359455,90.0,90.0,medium
3,Hernandez High School,80.934412,77.289752,89.0,87.0,large
4,Griffin High School,83.816757,83.351499,90.0,89.9,small
5,Wilson High School,83.989488,83.274201,90.0,90.0,medium
6,Cabrera High School,83.975780,83.061895,90.0,90.0,medium
7,Bailey High School,81.033963,77.048432,88.0,86.0,large
8,Holden High School,83.814988,83.803279,91.0,90.0,very small
9,Pena High School,84.044699,83.839917,90.0,90.0,small
10,Wright High School,83.955000,83.682222,90.0,90.0,medium
11,Rodriguez High School,80.744686,76.842711,88.0,86.0,large
12,Johnson High School,80.966394,77.072464,88.0,86.0,large
13,Ford High School,80.746258,77.102592,88.0,86.0,medium
14,Thomas High School,83.848930,83.418349,90.0,90.0,medium

In [24]:
#School Type Scores
schools_by_type = school_data_all.groupby('type')
schools_by_type = schools_by_type.mean()
schools_by_type.iloc[:,[3,4,6,7,8]]

,reading_score,math_score,% Passing Reading,% Passing Math,Overall Passing Rate
type,,,,,
Charter,83.896421,83.473852,90.125000,89.9875,90.056250
District,80.966636,76.956733,88.285714,86.0000,87.142857